<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png"/>
    <title>Document</title>
</head>
<body>
<header dir="rtl">
    <a href="/">خانه</a>
    <a href="/help">راهنما</a>
    <a href="/about">درباره</a>
    <h2>{{title}}</h2>
</header>
<div class="container">